<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Semi inquisitive</h1>
		<p>The planetary nebula M97 is approximately 8,000 years old. Commonly referred to as the Owl Nebula, M97 was formed in such a way that it's outer most concentric shell is 30% larger than it's interior.</p>
		<p><span>em nine seven</span> in its current form is the portfolio and blog of Product Designer Ryan S. Rich.</p>
		<ul>
			<li><img src="/assets/img/flex_c.svg"></li>
			<li>r@m97.co</li>
			<li>Portland, OR</li>
		</ul>
	</section>
</div>
<span class="hr hr-about"></span>
<div class="grid-a">
	<section class="content-main">
		<h1>Bio/About/Who</h1>
		<div class="content-words">
			<img src="/assets/img/breach.svg">
			<div class="base">
				<p>I am a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity in Human Computer Interaction.</p>
				<p>I attended Rochester Institute of Technology (RIT) where I studied Visual Design, and Web Development. I received a Bachelor's of Science in Applied Arts and Science. After graduating, I was a Web Developer at Global Thinking, a creative agency in the Washington DC area.</p>
				<p><img src="/assets/img/prof.jpg" class="prof" alt="Profile Picture"> I currently work for Catalyze where I'm helping developers build the future of healthcare software. As a remote employee, I am able to travel the U.S. with my girlfriend, Kara. We currently reside in Portland OR. Our previous destinations include Rochester, NY and Alexandria, VA.</p>
				<p>More stuff should go here so I can just keep saying stuff and shit. Not sure what else should go here but I was thinking about something at some point in time. The earth waves like a sea of bread. A creeping crawling entrenchment pit of self loathing and pitiful sorrow. I can't seem to breath anymore.</p>
				<p>A question once arose. Could you solve it? I doubt it. No one could tell whether or not it was real. I really couldn't care less. You're not going to stop me. I was already on my way. To the court yard, by the lawn. Before you went there that one day.</p>
				<p>Perhaps one day you might be able to reconcile our differences. Until then I'll take my honesty for a walk. Intelligently tangentially related, but separate non the less.</p>
			</div>
		</div>
	</section>
</div>