<section class="narrow">
	<article>
		<h1>Ryan S. Rich</h1>
		<img src="/assets/img/prof.jpg" alt="Home Image" title="Mt. Hood">
		<h3>Product Designer, Web Developer, Entrepreneur</h3>
		<p>I am a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity in Human Computer Interaction.</p>
		<p>I attended Rochester Institute of Technology (RIT) where I studied Visual Design, and Web Development. I received a Bachelor's of Science in Applied Arts and Science. After graduating, I was a Web Developer at Global Thinking, a creative agency in the Washington DC area.</p>
		<p>I currently work for Catalyze where I'm helping developers build the future of healthcare software. As a remote employee, I am able to travel the U.S. with my girlfriend, Kara. We currently reside in Portland OR. Our previous destinations include Rochester, NY and Alexandria, VA.</p>
		<nav>
			<a href="/about">about</a>
			<a href="/blog">blog</a>
			<a href="/work">work</a>
			<a href="/contact">contact</a>
		</nav>
		<h2>Portland, Cascadia</h2>
	</article>
</section>