<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Self deception, semi inquisitive</h1>
		<p>Hailing from a childhood replete with distraction I've built my career around an afinity for science fiction, technology and deep space travel. Having spent the better part of my life involved with art in some way or another my role as a designer seems to make at least a little sense, even given how much art is refuted as a part of design in modern times.</p>

		<p>My passions often lie at the intersection of topics I find interesting, their application to end users and their potential for impact.</p>
		<ul>
			<li><img src="/assets/img/flex_c.svg"></li>
			<li>r@m97.co</li>
			<li>Portland, OR</li>
		</ul>
	</section>
</div>
<span class="hr hr-about"></span>
<div class="grid-a">
	<section class="content-main">
		<h1>A short history</h1>
		<div class="content-words">
			<img src="/assets/img/breach.svg">
			<div class="base">
				<p>Simply put, I'm a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity in Human Computer Interaction.</p>
				<p>I enjoy watching users engage with interfaces. I believe products start and end with conscious minds. Because of this I've tended to find the most interest in user experience and user interface design.</p>
				<p>Before I started getting paid to design software I attended Rochester Institute of Technology (RIT) where I studied Visual Design, and Web Development. This is not a standard path of study at RIT. I was fortunate enough to find the Center for Multidisciplinary Studies which gives students the opportunity to craft their own majors.</p>
				<p><img src="/assets/img/prof.jpg" class="prof" alt="Profile Picture"> In the spring of 2013 I received a Bachelor's of Science in Applied Arts and Science. After graduating, I became a Web Developer at Global Thinking, a creative agency in the Washington DC area. There I primarily focused on building and designing marketing websites. I also briefly worked on a few web applications for large clients such as Ducati.</p>
				<p>I currently work for Catalyze where I'm helping developers build the future of healthcare software. Catalyze has built a remote culture which has given me the opportunity to see much of the continental United States. After much deliberation my fiance and I decided to call Portland Oregon our home full time.</p>
			</div>
		</div>
	</section>
</div>