<ul class="work">
	<li>
		<span class="type">SaaS Product</span>
		<a href="/#/" id="one">Newton</a>
		<span class="about">A metrics dashboard for companies dealing with HL7.</span>
	</li>
	<li>
		<span class="type">Landing Page</span>
		<a href="/#/" id="two">Plaid Link</a>
		<span class="about">A drop-in bank integration for the Plaid API.</span>
	</li>
	<li>
		<span class="type">Mobile Application</span>
		<a href="/#/" id="three">HIPAAGRAM</a>
		<span class="about">A fully HIPAA-compliant mobile messaging app.</span>
	</li>
	<li>
		<span class="type">Documentation</span>
		<a href="/#/" id="four">Resources</a>
		<span class="about">A place to find tutorials, guides, and references for Catalyze Products.</span>
	</li>
	<li>
		<span class="type">SaaS Product</span>
		<a href="/#/" id="five">Dashboard</a>
		<span class="about">Build, manage and scale HIPAA compliant environments.</span>
	</li>
	<li>
		<span class="type">Marketing Website</span>
		<a href="/#/" id="six">Catalyze.io</a>
		<span class="about">HIPAA compliant cloud computing for healthcare.</span>
	</li>
</ul>