<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Ryan S. Rich, a Product Designer</h1>
		<p>The planetary nebula M97 is approximately 8,000 years old. Commonly referred to as the Owl Nebula, M97 was formed in such a way that it's outer most concentric shell is 30% larger than it's interior.</p>
		<p><span>m97</span> in its current form is the portfolio and blog of Product Designer Ryan S. Rich.</p>
		<ul>
			<li><img src="/assets/img/flex_a.svg"></li>
			<li>r@m97.co</li>
			<li>Portland, OR</li>
		</ul>
	</section>
</div>
<span class="hr"></span>
<div class="grid-a">
	<section class="content-main">
		<h1>Selected Works</h1>
		<div class="big-list">
			<article>
				<h2><a href="/newton">Newton</a></h2>
				<footer>
					<span class="type">SaaS</span>
					<span class="desc">a product for managing HL7 integrations</span>
				</footer>
			</article>
			<article>
				<h2><a href="/engineering-blog">Engineering Blog</a></h2>
				<footer>
					<span class="type">Blog</span>
					<span class="desc">a blog dedicated to showcasing engineering projects</span>
				</footer>
			</article>
			<article>
				<h2><a href="/plaid">Plaid Link</a></h2>
				<footer>
					<span class="type">Marketing</span>
					<span class="desc">a webpage showcasing Plaid Link</span>
				</footer>
			</article>
			<article>
				<h2><a href="/hipaagram">HIPAAGRAM</a></h2>
				<footer>
					<span class="type">Mobile</span>
					<span class="desc">HIPAA Compliant mobile messaging</span>
				</footer>
			</article>
			<article>
				<h2><a href="/resources">Resources</a></h2>
				<footer>
					<span class="type">Documentation</span>
					<span class="desc">an authoritative source for Catalyze products</span>
				</footer>
			</article>
			<article>
				<h2><a href="/dashboard">Dashboard</a></h2>
				<footer>
					<span class="type">SaaS</span>
					<span class="desc">build, manage and scale compliant software environments</span>
				</footer>
			</article>
		</div>
	</section>
</div>