<%= partial "partials/logo" %>
<%= partial "partials/contact" %>
<%= partial "partials/navs/home" %>
<div class="inner">
	<h1 class="title">em ninety seven dot see oh</h1>
	<ul>
		<li>
			<a href="/#/">
				<span class="type">SaaS Product</span>
				<span class="name">Newton</span>
				<span class="desc">A metrics dashboard for companies dealing with HL7</span>
			</a>
		</li>
		<li>
			<a href="/#/">
				<span class="type">Landing Page</span>
				<span class="name">Plaid Link</span>
				<span class="desc">A drop-in bank integration for the Plaid API</span>
			</a>
		</li>
		<li>
			<a href="/#/">
				<span class="type">Mobile Application</span>
				<span class="name">HIPAAGRAM</span>
				<span class="desc">A fully HIPAA-compliant mobile messaging app</span>
			</a>
		</li>
		<li>
			<a href="/#/">
				<span class="type">Documentation</span>
				<span class="name">Resources</span>
				<span class="desc">A place to find tutorials, guides, and references for Catalyze Products</span>
			</a>
		</li>
		<li>
			<a href="/#/">
				<span class="type">SaaS Product</span>
				<span class="name">Dashboard</span>
				<span class="desc">Build, manage and scale HIPAA compliant environments</span>
			</a>
		</li>
		<li>
			<a href="/#/">
				<span class="type">Marketing Website</span>
				<span class="name">Catalyze.io</span>
				<span class="desc">HIPAA compliant cloud computing for healthcare</span>
			</a>
		</li>
	</ul>
</div>