<section class="narrow">
	<article>
		<h1>Product Design</h1>
		<img src="/assets/img/bg.jpg" alt="Home Image" title="Mt. Hood">
		<h3>Ryan S. Rich</h3>
		<p>m97.co builds and designs innovative software products.</p>
		<nav>
			<a href="/about">about</a>
			<a href="/blog">blog</a>
			<a href="/work">work</a>
			<a href="/contact">contact</a>
		</nav>
		<h2>Portland, Cascadia</h2>
	</article>
</section>