<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Writing</h1>
		<p>My writing focuses on both fiction and non-fiction, technology and fantasy, business and leisure. In the past I've attempted to keep a fairly updated short form blog, but after many failed attempts I've come to terms with writing long form articles only.</p>
		<p><span>long form</span> in my opinion are pieces primarily focused on a large themes, and have at last 4000 words.</p>
		<ul>
			<li><img src="/assets/img/flex_d.svg"></li>
			<li>r@m97.co</li>
			<li>Portland, OR</li>
		</ul>
	</section>
</div>
<span class="hr hr-writing"></span>
<div class="grid-a">
	<section class="content-main">
		<h1>Words and words</h1>
		<div class="content-words">
			<div class="base">
				<p>I have ∞ long form articles that are 35% done. Someday I'll get to finishing them and they'll go here.</p>
			</div>
		</div>
	</section>
</div>