<div class="more">
	<p>If you're looking to contact me I can always be reached by email - <a href="mailto:r@m97.co">r@m97.co</a>. I also frequent <a href="//twitter.com/ryanSrich">twitter</a>, <a href="//github.com/rr1000">github</a>, <a href="//stackoverflow.com/users/1254737/ryansrich">stackoverflow</a>, <a href="#">instagram</a>, and <a href="//dribbble.com/ryanSrich">dribbble</a>. If you're in Portland I'm always down for coffee.</p>
</div>