<footer class="main-footer">
	<p>If you had an idea for what you bring to the world you might write it right here. Perhaps one day, you can or will.</p>
	<nav>
		<a href="">I apologize for twitter</a>
		<a href="">May have answered a question or two</a>
		<a href="">I forked a git repo once</a>
		<a href="">Intelligent comment about dribbble</a>
	</nav>
</footer>