<div class="grid-a">
	<footer class="main-footer">
		<ul>
			<li><img src="/assets/img/flex_b.svg"></li>
			<li><a href="//twitter.com/ryanSrich">twitter</a></li>
			<li><a href="//github.com/rr1000">github</a></li>
			<li><a href="//stackoverflow.com/users/1254737/ryansrich">stackoverflow</a></li>
			<li><a href="//dribbble.com/ryanSrich">dribbble</a></li>
			<li><a href="//instagram.com/_ryanSrich">instagram</a></li>
		</ul>
	</footer>
</div>