<header class="main-header">
	<a href="/" class="logo">em nine tee seven dot see oh</a>
	<div class="header-grid">
		<p>a collections of thoughts. a bridge full of images. a desk full of chairs. a night without sun. a walk entrenched with tar. a mask inside a cat. clean sheets. a closet full of dust. subtle like a t-rex. ancient ritual chants. dancing on the surface. breaking quilts.</p>
		<img src="/assets/img/logo.svg">
	</div>
	<%= partial "partials/nav" %>
</header>