<header class="main-header">
	<div class="info">
		<a href="/#/" class="logo">m97.co</a>
		<p>The planetary nebula M97 is approximately 8,000 years old. Commonly referred to as the Owl Nebula, M97 was formed in such a way that it's outer most concentric shell is 30% larger than it's interior. <span>EM NINE SEVEN</span> in its current form is the portfolio and blog of Product Designer Ryan S. Rich.</p>
	</div>
	<nav>
		<a href="/about">&#126; about</a>
		<a href="/#/">&#172; work</a>
		<a href="/#/">&#177; writing</a>
		<a href="/#/">&#8226; contact</a>
	</nav>
</header>