$c_a: #0008FF;
$c_b: #FC3C5C;
$c_c: #7653E8;
$c_d: #333;
$c_e: #777;
$c_f: #706692;
$c_g: #32A46D;

// Products
$c_newton: #FF8A2F;
$c_eng-blog: #283A88;
$c_plaid: #3BB8BD;
$c_hipaagram: #9013FE;
$c_resources: #FE137A;
$c_dashboard: #2098ca;