@media handheld, only screen and (max-width: 880px){
	ul.work{ li{ span.about{font-size: 14px;} } }
}
@media handheld, only screen and (max-width: 670px){
	.main-header{
		padding: 20px;
		.info{
			float: none;
			width: 100%;
			p{ max-width: none; }
		}
		nav{
			width: 100%;
			float: none;
			margin: 20px 0px 0px 0px;
			a{&:last-of-type{border-bottom: 0px;padding-bottom:0px;}}
		}
	}
	ul.work{
		padding: 20px;
		li{
			display: block;
			position: relative;
			margin: 0px 0px 20px 0px;
			border-bottom: 1px solid #fff;
			padding: 0px 0px 20px 0px;
			span.type{
				position: relative;
			}
			span.about{
				position: relative;
			}
			span.false-idols{right: 0px;}
			a{
				border-bottom: 0px;
				margin: 0px;
			}
		}
	}
}
@media handheld, only screen and (max-width: 570px){
	ul.work{
		li{
			a{font-size: 40px;}
		}
	}
}