@media all and (max-width: 1000px){
	.main-header{
		background-color: #f4f4f4;
		border-bottom: 1px solid #ddd;
		padding: 20px;
		.logo{
			position: relative;
			margin: 0px;
			top: 0px;
			left: 0px;
			float: left;
		}
		nav{
			position: relative;
			top: 0px;
			left: 0px;
			margin: 7px 0px 0px 0px;
			float: right;
		}
	}
}
@media all and (max-width: 605px){
	.grid-a{padding: 0px 20px;min-width: 0px;}
}
@media handheld, only screen and (max-width: 480px){
	.content-intro{
		ul{
			li{
				display: block;
				margin: 10px 0px;
				&:first-of-type{margin: 0px;}
			}
		}
	}
	.content-main{
		.big-list{
			article{
				footer{
					span.type{
						float: none;
					}
					span.desc{
						float: none;
						color: #999;
						max-width: 80%;
						padding: 10px 0px 0px 0px;
						line-height: 1.5;
					}
				}
			}
		}
	}
	.main-footer{
		ul{
			li{
				display: block;
				margin: 10px 0px;
				a{margin: 0px;padding: 0px;}
				&:first-of-type{margin: 0px;}
			}
		}
	}
}
// @media handheld, only screen and (max-width: 767px){
// 	.grid{
// 		width: 100%;
// 		min-width: 0;
// 		margin-left: 0px;
// 		margin-right: 0px;
// 		padding-left: 0px;
// 		padding-right: 0px;
// 	}
// 	[class*='col-']{
// 		width: auto;
// 		float: none;
// 		margin-left: 0px;
// 		margin-right: 0px;
// 		margin-top: 10px;
// 		margin-bottom: 10px;
// 		padding-left: 20px;
// 		padding-right: 20px;
// 	}
// }
// @media handheld, only screen and (max-width: 449px){
// 	.grid-a{
// 		width: 100%;
// 		min-width: 0;
// 		margin-left: 0px;
// 		margin-right: 0px;
// 		padding-left: 0px;
// 		padding-right: 0px;
// 	}
// 	[class*='col-']{
// 		width: auto;
// 		float: none;
// 		margin-left: 0px;
// 		margin-right: 0px;
// 		margin-top: 10px;
// 		margin-bottom: 10px;
// 		padding-left: 20px;
// 		padding-right: 20px;
// 	}
// }
