// Custom Font
@font-face{
	font-family: ap;
	src: url(../fonts/ap.otf);
}
$f_h-bu: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
$f_head: ap, $f_h-bu;
// Large amounts of text
$f_sans: 'Helvetica Neue', 'Helvetica', sans-serif;
// Monospace for syntax highlighting
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$f_mono: 'Inconsolata', 'Source Code Pro', monospace;
body{font-family: ap;}