<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Engineering Blog</h1>
		<p>The Catalyze Engineering Blog exists to showcase reviews and articles about the products and projects we're building at catalyze.</p>
		<a href="//engineering.catalyze.io" class="proj-cta">Visit Catalyze Engineering Blog</a>
		<ul>
			<li><img src="/assets/img/flex_eng-blog.svg"></li>
		</ul>
	</section>
</div>
<span class="hr hr-eng-blog"></span>
<section class="content-work">
	<div class="grid-a">
		<h1>The Beginning</h1>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<img src="/assets/img/work/eng-blog-a.jpg" alt="engineering blog">
	<img src="/assets/img/work/eng-blog-b.jpg" alt="engineering blog">
	<img src="/assets/img/work/eng-blog-c.jpg" alt="engineering blog">
</section>