<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Newton</h1>
		<p>In healthcare, clinical data is unnecessarily locked down. These walled gardens that comprise the foundations of EHRs are by an large the major contributor to this data lock down. A not so sexy solution to this problem is HL7, a standard for transferring data to and from various EHRs. The problem with standards is that their implementation is left completely up to the vendor. So one might interperet the standrd and implement it one way while the other does the complete opposite.</p>
		<p>Instead of a larger organization moving in or a governing body (cough cough) stepping up the HealthIT sector has decided the best way to handle this data transfer is by creating these sets of middleware often referred to as integration engines. These engines allow for EHRs and vendors to push and pull data from one another in real time.</p>
		<p>This is all well and good, but a fundamental problem still exists. The EHRs are still walled gardens and even integration engines must be invited in before they can work. This standard invitation comes in the form of a VPN connection and an HL7 interface. HL7 interfaces are sets of data. There are many of them. Some vendors need one, some need twelve.</p>
		<ul>
			<li><img src="/assets/img/flex_newton.svg"></li>
		</ul>
	</section>
</div>
<span class="hr hr-newton"></span>
<section class="content-work">
	<div class="grid-a">
		<h1>The Beginning</h1>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<img src="/assets/img/work/newton-a.jpg" alt="newton">
	<img src="/assets/img/work/newton-b.jpg" alt="newton">
	<img src="/assets/img/work/newton-c.jpg" alt="newton">
	<img src="/assets/img/work/newton-d.jpg" alt="newton">
</section>