<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Newton</h1>
		<p>Interoperability of clinical data within healthcare is one of the largest barriers to improving patient care. EHR vendors insist on creating walled gardens that only grace the surface of giving access to the data contained within. The HealthIT sector has responded by using integration engines that allow third party applications to message back and forth with EHRs utilizing the HL7 standard.</p>
		<p>The problem is that integration projects not only require piles of cash but hours and hours of man power. It's a constant back and forth between one vendors IT department and a hospitals. This has prevented many startups from entering this space as it just moves too slow to be sustainable.</p>
		<p>Catalyze and specifically Newton is changing all of that. Newton is a product that truly is one of a kind. With the ability to view metrics about an interface, associate them with a health system and the options to start, stop, and delete interfaces, Newton is quite literally changing the way hospitals exchange data.</p>
		<a href="//newton-staging.catalyze.io/#/login" class="proj-cta">Visit Newton</a>
		<ul>
			<li><img src="/assets/img/flex_newton.svg"></li>
		</ul>
	</section>
</div>
<span class="hr hr-newton"></span>
<section class="content-work">
	<div class="grid-a">
		<h1>The Beginning</h1>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<img src="/assets/img/work/newton-a.jpg" alt="newton">
	<img src="/assets/img/work/newton-b.jpg" alt="newton">
	<img src="/assets/img/work/newton-c.jpg" alt="newton">
	<img src="/assets/img/work/newton-d.jpg" alt="newton">
</section>