<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Plaid</h1>
		<p>Plaid came to me with an idea to design a marketing page for their upcoming Plaid Link project. After a few iteration we settled on something a bit out of the box. With a non-standard navigation menu and animations to aid the story of the product we came up with something that was both visually intriguing and legible.</p>
		<a href="//github.com/plaid/link" class="proj-cta">Plaid Link Open Source Page</a>
		<ul>
			<li><img src="/assets/img/flex_plaid.svg"></li>
		</ul>
	</section>
</div>
<span class="hr hr-plaid"></span>
<section class="content-work">
	<div class="grid-a">
		<h1>The Beginning</h1>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<img src="/assets/img/work/plaid-a.jpg" alt="plaid">
</section>