<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Resources</h1>
		<p>Developers and software engineers are quite possibly the most difficult group of users to build software products for. Over the past two years at Catalyze we've launched numerous products that aid startups and developers to build enterprise level HIPAA compliant software. We've also learned that there can never be too much documentation.</p>
		<p>Catalyze resources are the lifeblood of our users and we pride ourselves on providing an exceptional level of detail.</p>
		<a href="//resources.catalyze.io" class="proj-cta">Visit Catalyze Resources</a>
		<ul>
			<li><img src="/assets/img/flex_resources.svg"></li>
		</ul>
	</section>
</div>
<span class="hr hr-resources"></span>
<section class="content-work">
	<div class="grid-a">
		<h1>The Beginning</h1>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<img src="/assets/img/work/resources-a.jpg" alt="resources">
	<img src="/assets/img/work/resources-b.jpg" alt="resources">
	<img src="/assets/img/work/resources-c.jpg" alt="resources">
	<img src="/assets/img/work/resources-d.jpg" alt="resources">
	<img src="/assets/img/work/resources-e.jpg" alt="resources">
	<img src="/assets/img/work/resources-f.jpg" alt="resources">
</section>