<div class="grid-a">
	<section class="content-intro">
		<h1 class="title">Resources</h1>
		<p>The planetary nebula M97 is approximately 8,000 years old. Commonly referred to as the Owl Nebula, M97 was formed in such a way that it's outer most concentric shell is 30% larger than it's interior.</p>
		<p>More info about this product. I'd really like to get a deep dive going for what all this shit means. It's like, when in the world would anyone have to go about doing something like this. I couldn't even make a choice for whatever it is you do. Sometimes you just have to keep writing and with that there's just a bunch of words. Not real rhyme or reason.</p>
		<p><span>em nine seven</span> in its current form is the portfolio and blog of Product Designer Ryan S. Rich.</p>
		<ul>
			<li><img src="/assets/img/flex_resources.svg"></li>
		</ul>
	</section>
</div>
<span class="hr hr-resources"></span>
<section class="content-work">
	<div class="grid-a">
		<h1>The Beginning</h1>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<img src="/assets/img/work/resources-a.jpg" alt="resources">
	<img src="/assets/img/work/resources-b.jpg" alt="resources">
	<img src="/assets/img/work/resources-c.jpg" alt="resources">
	<img src="/assets/img/work/resources-d.jpg" alt="resources">
	<img src="/assets/img/work/resources-e.jpg" alt="resources">
	<img src="/assets/img/work/resources-f.jpg" alt="resources">
</section>