.main-footer{
	padding: 30px;
	background-color: $c_dark-bg;
	margin: 0px 30px 30px 30px;
	@extend .cf;
	p{
		float: left;
		line-height: 2;
		color: $c_brand-light;
		max-width: 230px;
	}
	nav{
		float: left;
		padding: 0px 0px 0px 30px;
		a{
			margin: 0px 0px 20px 0px;
			display: block;
			line-height: 2;
			text-decoration: none;
			color: lighten($c_mid-selection, 30%);
			&:last-of-type{margin: 0px;}
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				color: $c_brand-light;
			}
		}
	}
}