.main-header{
	@extend .cf;
	padding: 50px;
	border-bottom: 1px solid rgba(255,255,255, 0.6);
	.info{
		float: left;
		width: 50%;
		a{
			display: block;
			color: $c_brand;
			text-decoration: none;
		}
		p{
			font-size: 12px;
			font-family: $f_sans-alt;
			color: #fff;
			line-height: 3;
			font-weight: 300;
			margin: 20px 0px 0px 0px;
			span{color:$c_brand;}
			max-width: 350px;
		}
	}
	nav{
		float: right;
		width: 30%;
		a{
			display: block;
			text-decoration: none;
			color: #fff;
			margin: 0px 0px 20px 0px;
			padding: 0px 0px 20px 0px;
			border-bottom: 1px solid rgba(255,255,255, 0.6);
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				color: $c_purp;
				border-bottom: 1px solid $c_purp;
			}
		}
	}
}