<header class="main-header">
	<div class="logo">
		<a href="/">
			<img src="/assets/img/logo_d.svg">
		</a>
	</div>
	<nav>
		<a href="/about">about</a>
		<a href="/">work</a>
		<a href="/writing">writing</a>
	</nav>
</header>